<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Categories</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
    <link rel="stylesheet" href="../styles/category.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   
    
</head>
<body>
    <nav> 
        <img class="logo" src="/src/assets/data/images/new-logo-resized.png" alt="Logo">
        <ul>
            <li>
                <a class="navbarLinks" href="./index.html">Home</a>
            </li>
            <li>
                <a class="navbarLinks" href='./categories.html'>Categories</a>
            </li>
            <li>
                <a class="navbarLinks" href="./contact.html">Contact Us</a>
            </li>
        </ul>
        <div class="nav-right">
            <i class="fa fa-shopping-cart icon-hover" onclick="window.location.href='./cart.html'"></i>
            <i class="fa fa-user icon-hover " onclick="showLoginPopup()"></i>
        </div>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </nav>
    

    <!-- Sign Up Popup -->
    <div id="login-popup" class="login-popup">
        <form onsubmit="onLogin(event)" class="login-popup-container">
            <div class="login-popup-title">
                <h2 id="popup-title">Login</h2>
                 <p onclick="hideLoginPopup()">X</p>
            </div>
            <div class="login-popup-inputs">
                <input id="name" type="text" placeholder="Your name..." required />
                <input id="email" type="email" placeholder="Your email..." required />
                <input id="password" type="password" placeholder="Password" required />
            </div>
            <button type="submit">Login</button>
            <div class="login-popup-condition">
                <input type="checkbox" required />
                <p>By continuing, I agree to the terms of use & privacy policy</p>
            </div>
            <p id="toggle-state">
                Create a new account <span onclick="toggleLoginState()">Click here</span>
            </p>
        </form>
    </div>
<!-- Hero -->
    <section class="hero" id="hero">
        <div class="hero-content">
            <h2 id="hero-text">Welcome to Interior Design</h2>
            <button id="scroll-down-btn">See Categories</button>
        </div>
    </section>


 <!-- Categories -->
 
    <section id="categories">
        <div class="container">
            <div class="category-card">
                <img src="../assets/data/images/cards/bedroom_card.jfif" alt="Living Room">
                <div class="category-info">
                    <h2>Bedroom</h2>
                    <button class="category-btn"><a href="../templates/products.html?category=bedroom">View Products</a></button>
                </div>
            </div>

            <div class="category-card">
                <img src="../assets/data/images/cards/chairs_gray.jfif" alt="Living Room">
                <div class="category-info">
                    <h2>Chairs</h2>
                    <button class="category-btn"><a href="../templates/products.html?category=chairs">View Products</a></button>
                </div>
            </div>

            <div class="category-card">
                <img src="../assets/data/images/cards/decorative_card.jfif" alt="Living Room">
                <div class="category-info">
                    <h2>Decorative</h2>
                    <button class="category-btn">
                        <a href="../templates/products.html?category=decorative">View Products</a>
                    </button>
                </div>
            </div>

            <div class="category-card">
                <img src="../assets/data/images/cards/kitchen_card.jfif" alt="Living Room">
                <div class="category-info">
                    <h2>Kitchen</h2>
                    <button class="category-btn">
                        <a href="../templates/products.html?category=kitchens">View Products</a>
                    </button>
                </div>
            </div>

            <div class="category-card">
                <img src="../assets/data/images/cards/lighting_card.jfif" alt="Living Room">
                <div class="category-info">
                    <h2>Lighting</h2>
                    <button class="category-btn">
                        <a href="../templates/products.html?category=lighting">View Products</a>
                    </button>
                </div>
            </div>

            <div class="category-card">
                <img src="../assets/data/images/cards/smart_card.jfif" alt="Living Room">
                <div class="category-info">
                    <h2>Smart Items</h2>
                    <button class="category-btn">
                        <a href="../templates/products.html?category=smart_home">View Products</a>
                    </button>
                </div>
            </div>

            <div class="category-card">
                <img src="../assets/data/images/cards/sofas_card.jfif" alt="Living Room">
                <div class="category-info">
                    <h2>Sofas</h2>
                    <button class="category-btn">
                        <a href="/src/templates/products.html?category=sofas">View Products</a>
                    </button>
                </div>
            </div>

            <div class="category-card">
                <img src="../assets/data/images/cards/wall_card.jfif" alt="Living Room">
                <div class="category-info">
                    <h2>Wall Decor</h2>
                    <button class="category-btn">
                        <a href="/src/templates/products.html?category=wall_decor">View Products</a>
                    </button>
                </div>
            </div>

        
        </div>
    </section>

    
 <!-- footer section -->
 <footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Payment Options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Online Shop</h4>
                <ul>
                    <li><a href="/src/templates/products.html?category=sofas">Sofas</a></li>
                    <li><a href="/src/templates/products.html?category=lighting">Lighting</a></li>
                    <li><a href="/src/templates/products.html?category=kitchens">Kitchen and Dining</a></li>
                    <li><a href="/src/templates/products.html?category=decorative">Decorative Items</a></li>
                    <li><a href="/src/templates/products.html?category=smart_home">Smart Home Devices</a></li>
                    <li><a href="/src/templates/products.html?category=wall_decor">Wall Decor</a></li>
                    <li><a href="/src/templates/products.html?category=chairs">Chairs</a></li>
                    <li><a href="/src/templates/products.html?category=bedroom">Bedroom</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab  fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>

    <script src="/src/models/main/main.js"></script>
    
 

</body>
</html>




