<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/src/styles/styles.css" />
    <link rel="stylesheet" href="../styles/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
      async
      defer
    ></script>
  </head>

  <body>
    <!-- Pre Header Navbar -->
    <nav>
      <img
        class="logo"
        src="/src/assets/data/images/new-logo-resized.png"
        alt="Logo"
      />
      <ul>
        <li>
          <a class="navbarLinks" href="./index.html">Home</a>
        </li>
        <li>
          <a class="navbarLinks" href="./categories.html">Categories</a>
        </li>
        <li>
          <a class="navbarLinks" href="./contact.html">Contact Us</a>
        </li>
      </ul>
      <div class="nav-right">
        <i
          class="fa fa-shopping-cart icon-hover"
          onclick="window.location.href='./cart.html'"
        ></i>
        <i class="fa fa-user icon-hover" onclick="showLoginPopup()"></i>
      </div>
      <label for="nav_check" class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </label>
    </nav>

    <!-- Sign Up Popup -->
    <div id="login-popup" class="login-popup">
      <form onsubmit="onLogin(event)" class="login-popup-container">
        <div class="login-popup-title">
          <h2 id="popup-title">Login</h2>
          <p onclick="hideLoginPopup()">X</p>
        </div>
        <div class="login-popup-inputs">
          <input id="name" type="text" placeholder="Your name..." required />
          <input id="email" type="email" placeholder="Your email..." required />
          <input
            id="password"
            type="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit">Login</button>
        <div class="login-popup-condition">
          <input type="checkbox" required />
          <p>By continuing, I agree to the terms of use & privacy policy</p>
        </div>
        <p id="toggle-state">
          Create a new account
          <span onclick="toggleLoginState()">Click here</span>
        </p>
      </form>
    </div>

    <!-- Hero -->
    <section class="hero" id="hero">
      <div class="hero-content">
        <h2 id="hero-text">Welcome to Interior Design</h2>
        <button id="scroll-down-btn">
          <a href="#contact-section">Contact Us</a>
        </button>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact-section" class="contact-section">
      <div class="contact-container">
        <h2 class="contact-title">GET IN TOUCH</h2>
        <p class="contact-description">
          Need to ask us a question, but not ready for a Custom Quote? Feel free
          to contact us using the form below. We also have an FAQ page that
          might be helpful.
        </p>
        <form class="contact-form">
          <div class="form-row">
            <input
              type="text"
              name="name"
              placeholder="Your Name"
              minlength="2"
              maxlength="30"
              required
            />
            <input
              type="email"
              name="email"
              placeholder="Your email"
              minlength="5"
              maxlength="50"
              required
            />
          </div>
          <textarea
            name="message"
            placeholder="Your Message"
            rows="5"
            minlength="5"
            maxlength="400"
            required
          ></textarea>
          <button type="submit" class="send-button">SEND</button>
        </form>
      </div>
    </section>

    <section class="map-section">
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.6407603263633!2d21.43758507560962!3d41.98652215861961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354156e09f8f943%3A0x4f70677f66ebc77c!2sQinshift%20Academy!5e0!3m2!1sen!2smk!4v1725918972990!5m2!1sen!2smk"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="info-container">
        <div class="contact-info">
          <h3>Visit Us</h3>
          <p>Visit by appointment or call:</p>
          <p>641 Gibbons St.<br />Los Angeles, CA 90031</p>
          <p>213-275-2355</p>
          <p>
            Mon-Fri - 9am - 4pm<br />Saturday - 11am - 3pm<br />Sunday - Closed
          </p>
        </div>
      </div>
    </section>

    <section class="signup-section">
      <div class="signup-container">
        <h3>SIGN UP NOW</h3>
        <h2>
          Subscribe for product updates, ready-to-go pieces and occasional
          furniture sales!
        </h2>
        <form class="signup-form" action="#" method="POST">
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <button type="submit" class="signup-button">
            <i class="fa fa-envelope"></i>
            Subscribe
          </button>
        </form>
      </div>
    </section>

    <!-- footer section -->
    <footer class="footer">
      <div class="footer-container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">shipping</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">order status</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Online Shop</h4>
            <ul>
              <li>
                <a href="/src/templates/products.html?category=sofas">Sofas</a>
              </li>
              <li>
                <a href="/src/templates/products.html?category=lighting"
                  >Lighting</a
                >
              </li>
              <li>
                <a href="/src/templates/products.html?category=kitchens"
                  >Kitchen and Dining</a
                >
              </li>
              <li>
                <a href="/src/templates/products.html?category=decorative"
                  >Decorative Items</a
                >
              </li>
              <li>
                <a href="/src/templates/products.html?category=smart_home"
                  >Smart Home Devices</a
                >
              </li>
              <li>
                <a href="/src/templates/products.html?category=wall_decor"
                  >Wall Decor</a
                >
              </li>
              <li>
                <a href="/src/templates/products.html?category=chairs"
                  >Chairs</a
                >
              </li>
              <li>
                <a href="/src/templates/products.html?category=bedroom"
                  >Bedroom</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../models/main/main.js"></script>
  </body>
</html>
