<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropshipping Store</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
   
    <!-- Pre Header Navbar -->
    <div id="pre-header">
        <div class="logo">PACK N' GO</div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul>
                <li>
                    <i class="fa-solid fa-house"></i>
                    <a href="./index.html">Home</a>
                    
                </li>

                <li class="dropdown">
                    <i class="fa-solid fa-list"></i>
                    <a href='./categories.html'>Categories</a>
                    <!-- <ul class="dropdown-content">
                        <li><a href="#">Sofas</a></li>
                        <li><a href="#">Lighting</a></li>
                        <li><a href="#">Tables</a></li>
                        <li><a href="#">Storage Solutions</a></li>
                        <li><a href="#">Bedroom Furniture</a></li>
                        <li><a href="#s">Outdoor Furniture</a></li>
                    </ul> -->
                </li>

                <li>
                    <i class="fa-solid fa-address-book"></i>
                    <a href="./contact.html">Contact Us</a>
                </li>
                <li><a href="#" class="fa fa-shopping-cart "></a></li>
                <button class="login-btn" id="open-popup">Login</button>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </label>
    </div>

    <!-- Header SlideShow -->
    <section id="slideshow">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="/src/assets/data/images/slide11.webp" style="width:100%">
                <div class="slideshow-text">
                    <h2 class="first-text">Welcome to PACK N' GO</h2>
                    <p>Discover amazing products </p>
                    <a href="#products" class="btn">Shop Now</a>
                </div>
            </div>
            <div class="mySlides fade">
                <img src="/src/assets/data/images/slide22.jpg" style="width:100%">
                <div class="slideshow-text">
                    <h2>Exclusive Deals</h2>
                    <p>Grab them before they're gone!</p>
                    <a href="#products" class="btn">Shop Now</a>
                </div>
            </div>
            <div class="mySlides fade">
                <img src="/src/assets/data/images/slide3.jpg" style="width:100%">
                <div class="slideshow-text">
                    <h2>Latest Arrival</h2>
                    <p>Check out our new products</p>
                    <a href="#products" class="btn">Shop Now</a>
                </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
            <span class="slide-change" onclick="currentSlide(1)"></span>
            <span class="slide-change" onclick="currentSlide(2)"></span>
            <span class="slide-change" onclick="currentSlide(3)"></span>
        </div>
    </section>

    <!-- Categories Section - mislam deka ovaa sho beshe tuka ne e potrebna bidejki 
     vekje ima category del i nema potreba da se povtoruva istoto dva pati na homepage i posebno -->
   

 <!-- footer section -->
    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Online Shop</h4>
                    <ul>
                        <li><a href="/src/templates/products.html?category=sofas">Sofas</a></li>
                        <li><a href="/src/templates/products.html?category=lighting">Lighting</a></li>
                        <li><a href="/src/templates/products.html?category=kitchenAndDining">Kitchen and Dining</a></li>
                        <li><a href="/src/templates/products.html?category=decorativeItem">Decorative Items</a></li>
                        <li><a href="/src/templates/products.html?category=smarHomeDevices">Smart Home Devices</a></li>
                        <li><a href="/src/templates/products.html?category=wallDecor">Wall Decor</a></li>
                        <li><a href="/src/templates/products.html?category=chairs">Chairs</a></li>
                        <li><a href="/src/templates/products.html?category=bedroom">Bedroom</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab  fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </footer>

    <script src="/src/models/main/main.js"></script>
</body>
</html>

                           