<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropshipping Store</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <!-- Pre Header Navbar -->
    <div id="pre-header">
        <!-- <div class="logo">PACK N' GO</div> -->
         <img class="logo" src="/src/assets/data/images/new-logo.png" alt="Logo">
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="./index.html">Home</a>
                </li>
                <li>
                    <a href='./categories.html'>Categories</a>
                </li>
                <li>
                    <a href="./contact.html">Contact Us</a>
                </li>
            </ul>
            <div class="nav-right">
                <i class="fa fa-shopping-cart icon-hover" onclick="window.location.href='./cart.html'"></i>
                <i class="fa fa-user icon-hover " onclick="showLoginPopup()"></i>
            </div>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </div>
    
    

    <!-- Sign Up Popup -->
    <div id="login-popup" class="login-popup">
        <form onsubmit="onLogin(event)" class="login-popup-container">
            <div class="login-popup-title">
                <h2 id="popup-title">Login</h2>
                 <p onclick="hideLoginPopup()">X</p>
            </div>
            <div class="login-popup-inputs">
                <input id="name" type="text" placeholder="Your name..." required />
                <input id="email" type="email" placeholder="Your email..." required />
                <input id="password" type="password" placeholder="Password" required />
            </div>
            <button type="submit">Login</button>
            <div class="login-popup-condition">
                <input type="checkbox" required />
                <p>By continuing, I agree to the terms of use & privacy policy</p>
            </div>
            <p id="toggle-state">
                Create a new account <span onclick="toggleLoginState()">Click here</span>
            </p>
        </form>
    </div>

    <!-- Header SlideShow -->
    <div class="header">
        <div class="slider">
            <div class="slide active">
                <img src="../assets/data/images/2.jpeg" alt="Image 1">
                <div class="slide-content">
                    <h2> - Modern Elegance</h2>
                    <p>Discover our collection of modern furniture designed to elevate your living space.</p>
                    <button id="scroll-down-btn">Explore Collection</button>
                </div>
            </div>
            <div class="slide ">
                <img src="../assets/data/images/1.jpeg" alt="Image 2">
               
                <div class="slide-content">
                    <h2> - Classic Comfort</h2>
                    <p>Embrace timeless designs with our range of classic furniture pieces.</p>
                    <button id="scroll-down-btn">See More</button>
                </div>
            </div>
            <div class="slide ">
                <img src="../assets/data/images/3.jpeg" alt="Image 3">
                
                <div class="slide-content">
                    <h2> - Innovative Designs</h2>
                    <p>Explore cutting-edge designs that blend functionality with aesthetics.</p>
                    <button id="scroll-down-btn">Browse Now</button>
                </div>
            </div>
        </div>
    </div>


<!-- What we do -->
<section class="services-overview">
    <div class="services-container">
        <div class="services-row">
            <div class="services-col-full">
                <div class="services-heading">
                    <h3>What We Do</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="services-row">
            <div class="services-col-quarter">
                <div class="service-item">
                    <img src="../assets/data/images/sm1.png" alt="Home Decor" />
                    <a class="service-link" href="#">Home Decorate</a>
                </div>
            </div>
            <div class="services-col-quarter">
                <div class="service-item">
                    <img src="../assets/data/images/sm2.png" alt="Office Decor" />
                    <a class="service-link" href="#">Office Decorate</a>
                </div>
            </div>
            <div class="services-col-quarter">
                <div class="service-item">
                    <img src="../assets/data/images/sm3.png" alt="Furniture Decor" />
                    <a class="service-link" href="#">Furniture Decorate</a>
                </div>
            </div>
            <div class="services-col-quarter">
                <div class="service-item">
                    <img src="../assets/data/images/sm4.png" alt="Lighting Decor" />
                    <a class="service-link" href="#">Lighting Decorate</a>
                </div>
            </div>
        </div>
        <div class="services-row">
            <div class="services-col-full">
                <div class="read-more">
                    <a class="read-more-link" href="./categories.html">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
        
<!-- design section -->
 
<section class="design-section">
    <div class="design-image-wrapper">
        <img src="../assets/data/images/lamp.png" alt="Decorative Home Design" class="design-image"/>
        <div class="full design-content">
            <div class="design-heading">
                <h3>Best<br>Decorating for<br>Your home</h3>
            </div>
            <div class="design-paragraph">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, odio!</p>
            </div>
            <div class="design-cta">
                <a class="read-more-link design-btn" href="#">Get A Quote</a>
            </div>
        </div>
    </div>
</section>


<!-- About -->


<section id="feature" class="section-off-white container-fluid ">
    <div class="container-features">
        <div class="row align-items-center">
            <div class="col-lg-7 mt-5 py-5 pr-lg-5">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3">Why Choose Us?</h6>
                <h1 class="mb-4 section-title">25+ Years Experience In The Interior Design Industry</h1>
                <p class="mb-4">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>
                <ul class="list-inline">
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i> 25+ Years Experience</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i> Best Interior Design</h5></li>
                    <li><h5><i class="far fa-check-square text-primary mr-3"></i> Customer Satisfaction</h5></li>
                </ul>
                <a href="#" class="read-more-link">View More</a>
            </div>
            <div class="col-lg-5 img-container">
                <img class="img-feature" src="../assets/data/images/reauture.png" alt="Feature Image">
            </div>
        </div>
    </div>
   
</section>



 <!-- footer section -->
    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Online Shop</h4>
                    <ul>
                        <li><a href="/src/templates/products.html?category=sofas">Sofas</a></li>
                    <li><a href="/src/templates/products.html?category=lighting">Lighting</a></li>
                    <li><a href="/src/templates/products.html?category=kitchens">Kitchen and Dining</a></li>
                    <li><a href="/src/templates/products.html?category=decorative">Decorative Items</a></li>
                    <li><a href="/src/templates/products.html?category=smart_home">Smart Home Devices</a></li>
                    <li><a href="/src/templates/products.html?category=wall_decor">Wall Decor</a></li>
                    <li><a href="/src/templates/products.html?category=chairs">Chairs</a></li>
                    <li><a href="/src/templates/products.html?category=bedroom">Bedroom</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab  fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </footer>

    <script src="/src/models/main/main.js"></script>
</body>
</html>

                           