<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/orderPage.css">
    <title>Checkout</title>
</head>
<body>
    <div id="pre-header">
        <div class="logo">PACK N' GO</div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul>
                <li>
                    <i class="fa-solid fa-house"></i>
                    <a href="./index.html">Home</a>
                </li>

                <li class="dropdown">
                    <i class="fa-solid fa-list"></i>
                    <a href='./categories.html'>Categories</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Sofas</a></li>
                        <li><a href="#">Lighting</a></li>
                        <li><a href="#">Tables</a></li>
                        <li><a href="#">Storage Solutions</a></li>
                        <li><a href="#">Bedroom Furniture</a></li>
                        <li><a href="#s">Outdoor Furniture</a></li>
                    </ul>
                </li>
                <li>
                    <i class="fa-solid fa-address-book"></i>
                    <a href="./contact.html">Contact Us</a>
                </li>
                <li><a href="#" class="fa fa-shopping-cart "></a></li>
                <button class="login-btn" id="open-popup">Login</button>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </label>
    </div>

    <div class="mainCheckoutBox">
        <form class="formOrderBox" action="#">
            <div class="orderDivider">
                    <h1>Your Contact Information</h1>
                <div>
                    <label for="name">Name</label>
                    <input 
                    type="text"
                    id="name" 
                    name="name"
                    placeholder="Your Name"
                    required
                    class="formControl"
                    />
                </div>
                <div>
                    <label for="address">Address</label>
                    <input 
                    type="text"
                    id="address" 
                    name="address"
                    placeholder="Your Address"
                    required
                    class="formControl"
                    />
                </div>
                <div>
                    <label for="phoneNumber">Phone</label>
                    <input 
                    type="number"
                    id="phoneNumber" 
                    name="phoneNumber"
                    placeholder="Contact number"
                    required
                    class="formControl"
                    />
                </div>
                <div>
                    <label for="email">Email</label>
                    <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Your email"
                    required
                    class="formControl"
                    />
                </div>
                <div>
                    <label for="date">Preferred delivery day</label>
                    <input 
                    type="date" 
                    id="date"
                    name="date" 
                    placeholder="Preferred"
                    class="formControl"
                    />
                </div>
            </div>
            <div class="orderDivider">
                    <h1 class="formDivide">Card Information</h1>
                    <div>
                        <label for="name">Name</label>
                        <input 
                        type="text"
                        id="name" 
                        name="name"
                        placeholder="Name"
                        required
                        class="formControl"
                        />
                    </div>
                    <div>
                        <label for="cardNumber">Card Number</label>
                        <input 
                        type="number"
                        id="cardNumber" 
                        name="cardNumber"
                        placeholder="0000 0000 0000 0000"
                        required
                        class="formControl"
                        />
                    </div>
                    <div>
                        <label for="expirationDate">Expiration Date</label>
                        <input 
                        type="date"
                        id="expirationDate" 
                        name="expirationDate"
                        required
                        class="formControl"
                        />    
                    </div>
                    <div>
                        <label for="cvc">CVC</label>
                        <input 
                        type="number"
                        id="cvc" 
                        name="cvc"
                        placeholder="000"
                        required
                        class="formControl"
                        />  
                    </div>
                </div>
                <button class="buyButton" type="submit">BUY NOW</button>
        </form>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Online Shop</h4>
                    <ul>
                        <li><a href="/src/templates/products.html?category=sofas">Sofas</a></li>
                    <li><a href="/src/templates/products.html?category=lighting">Lighting</a></li>
                    <li><a href="/src/templates/products.html?category=kitchens">Kitchen and Dining</a></li>
                    <li><a href="/src/templates/products.html?category=decorative">Decorative Items</a></li>
                    <li><a href="/src/templates/products.html?category=smart_home">Smart Home Devices</a></li>
                    <li><a href="/src/templates/products.html?category=wall_decor">Wall Decor</a></li>
                    <li><a href="/src/templates/products.html?category=chairs">Chairs</a></li>
                    <li><a href="/src/templates/products.html?category=bedroom">Bedroom</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab  fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
 </footer>
</body>
</html>