* {
    box-sizing: border-box;
}


.product-container  {
        max-width: 300px;
        padding: 10px;
        margin: 10px;
        background-color: rgb(148, 170, 148);
        border: 2px solid rgb(90, 76, 76);
  }


.product-card {
    width: 100%;
  }

  .loadingProducts {
    width: 10px;
    background-color: lightcoral;
  }